#{extends '/syrena/template.html' /}
#{set title:title /}

#{panel /}

#{if title == "New"}
    #{form @Tags.newTag(), method:'POST', enctype:'multipart/form-data'}
    <div class="col-sm-10">
        <input type="text" class="form-control" id="input1" placeholder="Tag" name="tag">
    </div>
    <input class="btn btn-ion" type="submit" value="Save">
    #{/form}
#{/if}

#{if title == "Edit"}
    #{form @Tags.edit(), enctype:'multipart/form-data'}
        <div class="col-sm-10">
            <input type="hidden" name="id" value="${id}">
            <input type="text" class="form-control" id="input2" placeholder="${tag.getName()}" name="name">
        </div>
        <input class="btn btn-ion" id="input4" type="submit" value="Save">
    #{/form}
#{/if}

