<div class="magic-layout">
    <div class="box magic-element">
        <h2 class="box-heading">Tags</h2>
            <div class="form-group">
                <select class="multiselect" multiple="multiple" name="tags">
                    #{list items:_tags, as:'tag'}
                        <option value="${tag.id}">${tag.name}</option>
                    #{/list}
                </select>
            </div><!-- /form-group -->
    </div><!-- /box -->
</div><!-- /magic-layout -->

#{set 'moreScripts'}
    <script type="text/javascript">
        $(function(){
            $('.ms-elem-selection[style="display: list-item;"] span').each(function(e,i){console.log(i.innerHTML);})
        });
    </script>
#{/set}