<div id="panel-navs" class="panel panel-default magic-element isotope-item">
    <div class="panel-heading">
        <div class="panel-icon"><i class="icon ion-ios7-photos-outline"></i></div>
        <div class="panel-actions">
            <a role="button" data-refresh="#panel-navs" title="refresh" class="btn btn-sm btn-icon">
                <i class="icon ion-refresh"></i>
            </a>
            <a role="button" data-expand="#panel-navs" title="expand" class="btn btn-sm btn-icon">
                <i class="icon ion-arrow-resize"></i>
            </a>
            <a role="button" data-collapse="#panel-navs" title="collapse" class="btn btn-sm btn-icon">
                <i class="icon ion-chevron-down"></i>
            </a>
            <a role="button" data-close="#panel-navs" title="close" class="btn btn-sm btn-icon">
                <i class="icon ion-close-round"></i>
            </a>
        </div><!-- /panel-actions -->
        <h3 class="panel-title">Navs</h3>
    </div><!-- /panel-heading -->
    <div class="panel-body" style="display: block;">


    </div><!-- /panel-body -->
</div>