#{if _as == 'magic-layout3'}
    <div class="magic-layout ml-col-3 isotope" data-cols="3" style="position: relative; overflow: hidden; height: 1240px;">
        #{list items:_photos, as:'photo'}
            <div class="panel panel-default magic-element isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 281px, 0px);">
                <div class="kits-media">
                    <img src="${photo}" alt=""/>
                </div><!-- /kits-media -->
                <div class="panel-body">
                    <p>
                        <small class="text-muted">
                            <i class="icon ion-person"></i> Mr. Rab
                        </small>
                    </p>
                </div><!-- /panel-body -->
                <div class="panel-footer">
                    #{form @Photos.delete(), method:'POST', enctype:'multipart/form-data'}
                    <input type="hidden" name="url" value="${photo}">
                    <input type="button" value="Delete" class="btn btn-default btn-sm pull-right">
                    #{/form}
                    <a href="${photo}" class="btn btn-default btn-sm pull-right"><i class="glyphicon glyphicon-cloud-download"></i></a>
                    <a id="${URLEncoder.encode(photo)}" href="#" onclick="addWeb('${URLEncoder.encode(photo)}')" class="btn btn-default btn-sm"><i class="icon ion-thumbsup"></i></a>
                    <a href="#" class="btn btn-default btn-sm pull-right"><i class="icon ion-social-twitter"></i></a>
                    <a href="#" class="btn btn-default btn-sm pull-right"><i class="icon ion-social-facebook"></i></a>
                    <a href="#" class="btn btn-default btn-sm pull-right"><i class="icon ion-social-googleplus"></i></a>
                </div>
            </div>
        #{/list}
    </div>
#{/if}