#{extends '/syrena/template.html' /}
#{set title:'Upload Web' /}

#{form @Application.uploadWeb(), method:'GET', enctype:'multipart/form-data'}
    <div class="col-sm-10">
        <input type="text" class="form-control" id="input1" placeholder="http://www.example.com/" name="url">
    </div>
    <input class="btn btn-ion" type="submit" value="Save">
#{/form}

#{photoWebDisplay photos:photos, as:'magic-layout3'/}

#{set 'moreStyles'}
<style type="text/css" rel="stylesheet">

</style>
#{/set}

#{set 'moreScripts'}
<script type="text/javascript">
       var winAction = #{jsAction @Photos.addWin(':id') /}
       var loseAction = #{jsAction @Photos.addLose(':id') /}

       function addWin(photoId) {
           $('#winId'+photoId).load(
               winAction({id: photoId}),
               function() {
                   $('#content').css('visibility', 'visible')
               }
            )
        }
        function addLose(photoId) {
           $('#loseId'+photoId).load(
               loseAction({id: photoId}),
               function() {
                   $('#content').css('visibility', 'visible')
               }
            )
        }
    </script>
#{/set}